{% extends "dash_within_django/base_app_site.html" %}
{% load static %}
{% block content %}

<style type="text/css">

.bg-img {
      background: url("{% static 'dash_within_django/images/background2.jpg' %}") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height:2000px;
      /* position:absolute; */
      width:100vw;
      overflow-x: hidden;
      /* margin-left:-20px; */
      margin-top:-10px;
      /* left:0
      top:0; */
    }
.right_col{
    overflow-x: hidden;
}

.nav_menu{
        margin-bottom:0;
    }

.nav-md .container.body .right_col{
    padding-left:0;
}

.bg-img h1, .bg-img h2{
    color:black;
}

.inner{
padding:50px;

}

li, a, p {color: black;}

.primary-text{width:900px;
             }



 .title-divider{
     width: 80px;
     height: 5px;
     background-color: #1aba9a;
     margin: 10px 0 25px;
 }

.about-con ul{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top:30px;
    padding-bottom:30px;
}

.about-con ul li:first-child {
    padding: 0 0 12px;
}

.about-con ul li {
    padding: 12px 0;
    font-size: 17px;
}

/* .card-section{
    background-color:white;
    opacity:0.75;
} */

</style>



<div class="right_col" role="main">
    <div class='bg-img'>
        <div class="inner">
            <div class='card-section'>
                <h1>ABOUT ME</h1>
            </div>
            <div class='title-divider'></div>
              <div class='about-con'>
                <ul>
                    <li>Name: Edward Burmicz</li>
                    <li>Date of birth: 04 January 1988</li>
                    <li>Nationality: British</li>
                    <li>Title: Full Stack Data Scientist</li>
                </ul>
              </div>

            <p class='primary-text'>

                <!-- Set the scene -->
                I am a data scientist that enjoys finding sophisticated solutions to complex business problems.
                I believe that there is a continuously large business opportunity at every company to transform the way business processes are operated through the use of smarter, data-driven decision making tools. I  enjoy building technology roadmaps with clients and demonstrating the value through advanced solutions along the way.
                <br><br>


                <!-- Key skills and a flavour of aspiration -->
                84% of CEO's are concerned about the quailty of data they are basing their decisions on   <a href='https://www.forbes.com/sites/forbespr/2017/05/31/poor-quality-data-imposes-costs-and-risks-on-businesses-says-new-forbes-insights-report/#1d0c32f5452b' style='color:#2d65bf;'>
                      [1]
                  </a>. Over the course of my career, I have grown a big appreciation for the value of "end-to-end" analytics solutions in addressing business problems effectively. Through my work, I have found that this approach provides a much improved delivery system of high quality information used by business leaders for decision making purposes.
                  <br><br>
                  As part of delivering end-to-end solutions, I enjoy working on aspects that provide better tools for data capture, profiling, review and remediation. Where applicable, this includes utilizing machine learning for a range of business problems that I have worked on, such as service demand forcasting, anomaly detection of financial trading data and the classification of expenses data in to relevant tax codes. I also believe the solutions are more engaging through better interfaces, which I also enjoy building using modern web technologies.
                <br><br>

                You can use the navigation pane to the left to further explore my CV, as well look at examples of my work.
                I also encourage you to look at my Ambitions page, which further details my ambitions and views on the current
                state of business intelligence.
            </p>

    </div>

    </div>

</div>
<!-- <script>
function removeElementsByClass(className){
    var elements = document.getElementsByClassName(className);
    while(elements.length > 0){
        elements[0].parentNode.removeChild(elements[0]);
    }
}

removeElementsByClass('top_nav');
</script> -->

{% endblock %}
