{% extends "dash_within_django/base_app_site.html" %}
{% load static %}
{% block content %}

<style type="text/css">

.bg-img {
      background: url("{% static 'dash_within_django/images/background2.jpg' %}") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height:2000px;
      /* position:absolute; */
      width:100vw;
      overflow-x: hidden;
      /* margin-left:-20px; */
      margin-top:-10px;
      /* left:0
      top:0; */
    }
.right_col{
    overflow-x: hidden;
}
    .nav_menu{
        margin-bottom:0;
    }

.nav-md .container.body .right_col{
    padding-left:0;
}

.bg-img h1, .bg-img h2{
    color:black;
}

.inner{
padding:50px;

}

li, a, p {color: black;}

.primary-text{
    width:900px;
    font-size:17px;
             }

.title-divider{
    width: 80px;
    height: 5px;
    background-color: #1aba9a;
    margin: 10px 0 25px;
}

.about-con ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.about-con ul li:first-child {
    padding: 0 0 12px;
}

.about-con ul li {
    padding: 12px 0;
}

.container-sub {
    width: 100%;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

.container-sub, h1 {
    position: relative;
}

h2 {
    font-size: 20px;
    margin-top: 10px;
}

/* body, h1, h2, h3, h4, h5 {
    font-weight: 400;
} */

.margin-top10 {
    margin-top: 10px;
}

.col-4 {
    width: 37.33333333%;
}

.skill-list ul {
    width:800px;
}

.skill-list ul li {
    padding: 5px 0 0;
    font-size:17px;
}
/*
.skill-list ul {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
    width:500px;
}

.skill-list ul li:before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 15px;
    margin: 0 5px 0 0;
} */

.twoColList{

        -moz-column-count: 2;
        -moz-column-gap: 2.5em;
        -webkit-column-count: 2;
        -webkit-column-gap: 2.5em;
         column-count: 2;
         column-gap: 2.5em;
    }


</style>



<div class="right_col" role="main">
    <div class='bg-img'>
        <div class="inner">
            <h1>SKILLS</h1>

            <div class='title-divider'></div>
              <div class="container-sub skill-list">
                  <div class="row">
                      <h2>Key Skills</h2>
                      <div class="col-4 margin-top10">
                          <p class='primary-text'>
                              </p>
                          <ul class='skills-list'>
                              <li>Liasing with clients in order to understand their business problems</li>
                              <li>Building business cases, constructing technology roadmaps and demonstrating value to clients through data-driven technologies</li>
                              <li>Data collection, profiling and visualization solutions for multi-client data</li>
                              <li>Machine learning in business scenarios, including the use of neural networks and decision tree based learners</li>
                              <li>A working knowledge of data security, compliance (e.g. GDPR) and governance in systems</li>
                          </ul>
                      </div>
                  </div>
                  <div class="row">
                      <h2 style='margin-top:30px;'>Key Technologies</h2>
                      <div class="col-4 margin-top10">
                          <p class='primary-text'>
                              I code most of my solutions using Python. A few key packages that I utilise are listed belows:</p>

                              <ul class='twoColList'>
                                  <li>Django Web Framework</li>
                                  <li>Plotly and Dash</li>
                                  <li>Scikit-learn</li>

                                  <li>Keras</li>
                                  <li>Jupyter Notebook</li>
                                  <li>PySpark</li>

                              </ul>


                              <p class='primary-text' style='margin-top:20px;'>
                                  Other technologies include:
                              </p>
                              <div>

                                   <ul class='twoColList'>
                                          <li>Linux and Windows systems</li>
                                          <li>MS Office (with report automation using Python)</li>
                                          <li>Tableau</li>
                                          <li>Spotfire</li>
                                          <li>Power BI</li>

                                          <li>Git Version Control</li>
                                          <li>Bonobo Git Server</li>
                                          <li>Spark</li>
                                          <li>Hadoop with Hive</li>

                                          <li>Microsoft SQL Server as well as other SQL technologies</li>
                                          <li>Microsoft Information Integration Services</li>

                                          <li>JavaScript (Basic)</li>
                                          <li>React.js (Basic)</li>
                                          <li>JQuery (Basic)</li>
                                          <li>Inkscape for graphic design</li>
                                      </ul>
                                  </div>
                      </div>
                  </div>
              </div>
         <div class="container-sub">
            <h2></h2>
            <p class='primary-text'>
            </p>
        </div>



    </div>

    </div>

</div>


{% endblock %}
