<div class="nav_menu">
  <nav>
    <div class="nav toggle">
      <a id="menu_toggle"><i class="fa fa-bars"></i></a>
    </div>

    <ul class="nav navbar-nav navbar-right">

        <li role="presentation" class="dropdown" style='margin-right:20px; margin-left:5px;'>
            <p style='display:inline-block'>Send E-mail:</p>
          <a style='display:inline-block' href='mailto:eburmicz@gmail.com' class="dropdown-toggle info-number" aria-expanded="false">
            <i class="fa fa-envelope-o"></i>
            <!-- <span class="badge bg-green">6</span> -->
          </a>
          <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
          </ul>
        </li>

      <li role="presentation" class="dropdown">
          <p style='display:inline-block'>My LinkedIn:</p>
        <a style='display:inline-block' href='https://www.linkedin.com/in/edward-burmicz-900058146/' class="dropdown-toggle info-number" aria-expanded="false">
          <i class="fa fa-linkedin-square"></i>
          <!-- <span class="badge bg-green">6</span> -->
        </a>
        <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
        </ul>
      </li>


    </ul>
  </nav>
</div>
